.ctn {
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 1rem;
}

.card {
    background-color: #1E1E1E;
    min-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color
}